<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">Rails Tutorial Contact page</a>.
  <br>

  Or... Contact me via e-mail: <span style="color:#339900">Donation@JakeDanforth.com</span>

  <br>
  <br>

  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="258" height="338" title="Click Here to donate!" type="application/x-shockwave-flash"><param name="movie" value="//funds.gofundme.com/Widgetflex.swf" /><param name="quality" value="high" /><param name="flashvars" value="page=1y15a4&template=8" /><param name="wmode" value="transparent" /><embed allowScriptAccess="always" src="//funds.gofundme.com/Widgetflex.swf" quality="high" flashVars="page=1y15a4&template=8" type="application/x-shockwave-flash" wmode="transparent" width="258" height="338"></embed></object>
</p>