<% provide(:title, 'All users') %>
 <object align="right"> <a target="_top" style="border: 0 none;" href="http://www.gofundme.com/1y15a4?utm_medium=wdgt" title="Visit this page now."><img style="border: 0 none;" src="http://funds.gofundme.com/css/3.0_donate/purple/widget.png"></a>
</object>
<h1>All users</h1>
<br>
<br>
<br>
<br>


<%= will_paginate %> 

<ul class="users">
	<%= render @users %>
	</ul>
<%= will_paginate %>

